h1{
  text-align: center;
  color: white;
  background: steelblue;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.1;
}

body{
  background-color: black;
  margin: 0;
  font-family: 'Montez',cursive;
 }
